@import 'react-toastify/dist/ReactToastify.min.css';
@import 'antd/dist/reset.css';
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "IBM Plex Sans Thai", sans-serif !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  /* background-color: red; */
}